{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="data:,">
    <title>NYCU SDLC Admin</title>	
	{% include 'utilities-css.html' %}
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
	{% include 'utilities-Sidebar.html' %}


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
			{% include 'utilities-Topbar.html' %}
 

<!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>project</th>
                                            <th>tracker</th>
                                            <th>status</th>
											<th>priority</th>
											<th>author</th>
											<th>assigned_to</th>
                                            <th>created_on</th>
											<th>updated_on</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>project</th>
                                            <th>tracker</th>
                                            <th>status</th>
											<th>priority</th>
											<th>author</th>
											<th>assigned_to</th>
                                            <th>created_on</th>
											<th>updated_on</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for issues in Issues.issues %}
										<tr>
											<td>{{ issues.id }}</td>
											<td>{{ issues.project.name }}</td>
											<td>{{ issues.tracker.name }}</td>
											<td>{{ issues.status.name }}</td>
											<td>{{ issues.priority.name }}</td>
											<td>{{ issues.author.name }}</td>
											<td>{{ issues.assigned_to.name }}</td>
											<td>{{ issues.created_on }}</td>
											<td>{{ issues.updated_on }}</td>
										</tr>
										{% endfor %}										 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; NYCU DC 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
{% include 'utilities-js.html' %}
</body>

</html>