        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <div class="sidebar-brand-text mx-3">NYCU SW ISO<sup>0.1</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>專案Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                可靠度
            </div>
			
            <!-- SDLC專案步驟 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>事前管理 (SDLC)</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">文件查詢:</h6>
						<a class="collapse-item" href="{% url 'sdlc1' %}">問題定義</a>
                        <a class="collapse-item" href="{% url 'sdlc2' %}">提出需求</a>
						<a class="collapse-item" href="{% url 'sdlc3' %}">軟體設計</a>
						<a class="collapse-item" href="{% url 'sdlc4' %}">軟體測試</a>
						<a class="collapse-item" href="{% url 'sdlc5' %}">實行</a>
						<a class="collapse-item" href="{% url 'sdlc6' %}">維護更新</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>專案管理 (Redmine)</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">專案進度:</h6>
                        <a class="collapse-item" href="{% url 'index' %}">Project查詢</a>
                        <a class="collapse-item" href="{% url 'issues' %}">Issues進度查詢</a>
                        <a class="collapse-item" href="{% url 'issues' %}">Issues進度查詢</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>事後追蹤 (DMS)</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">文件上傳:</h6>
                        <a class="collapse-item" href="#">新文件</a>
                        <a class="collapse-item" href="#">舊文件連結</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">文件查詢:</h6>
                        <a class="collapse-item" href="#">依主旨</a>
                        <a class="collapse-item" href="#">依日期</a>
						<a class="collapse-item" href="#">依內文</a>
						<a class="collapse-item" href="#">依類別</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->